// Heading
.how-it-works-heading-title {
  font-family: 'Marcellus';
  letter-spacing: 0%;
  color:#0F172B;
  font-weight: 400px;
  font-size: 36px;
}

.how-it-works-subtitle{
 
  color: #0F172B;
  font-weight: 700px;
  font-size: 20px;
  line-height: 28px;
}

.description {
  color: #45556C;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}