<div class="fh-5 fw-bold mt-3">Appearance</div>
<div class="row mt-4">

  <!-- Height typeID=26 -->
  <div class="col-md-3">
    <div class="form-group">
      <label class="txt-7th ft-5">
        Height<span class="txt-2nd">&nbsp;*</span>
      </label>
      <select
        class="form-control form-control-sm mt-2"
        [(ngModel)]="selectedHeight"
        (change)="onFieldChange()">
        <option value="">Select Height</option>
        <option *ngFor="let item of heightList" [value]="item.subTypeID">
          {{ item.subTypeTitle }}
        </option>
      </select>
    </div>
  </div>

  <!-- Body Type typeID=15 -->
  <div class="col-md-3">
    <div class="form-group">
      <label class="txt-7th ft-5">
        Body Type<span class="txt-2nd">&nbsp;*</span>
      </label>
      <select
        class="form-control form-control-sm mt-2"
        [(ngModel)]="selectedBodyType"
        (change)="onFieldChange()">
        <option value="">Select Body Type</option>
        <option *ngFor="let item of bodyTypeList" [value]="item.subTypeID">
          {{ item.subTypeTitle }}
        </option>
      </select>
    </div>
  </div>

  <!-- Skin Tone typeID=16 -->
  <div class="col-md-3">
    <div class="form-group">
      <label class="txt-7th ft-5">
        Skin Tone<span class="txt-2nd">&nbsp;*</span>
      </label>
      <select
        class="form-control form-control-sm mt-2"
        [(ngModel)]="selectedSkinTone"
        (change)="onFieldChange()">
        <option value="">Select Skin Tone</option>
        <option *ngFor="let item of skinToneList" [value]="item.subTypeID">
          {{ item.subTypeTitle }}
        </option>
      </select>
    </div>
  </div>

</div>

<!-- row-02 -->
<div class="row mt-4">

  <!-- Disability typeID=30 -->
  <div class="col-md-12">
    <div class="form-group">
      <label class="txt-7th ft-5">
        Disability<span class="txt-2nd">&nbsp;*</span>
      </label>
      <select
        class="form-control form-control-sm mt-2"
        [(ngModel)]="selectedDisability"
        (change)="onFieldChange()">
        <option value="">Select Disability</option>
        <option *ngFor="let item of disabilityList" [value]="item.subTypeID">
          {{ item.subTypeTitle }}
        </option>
      </select>
    </div>
  </div>

</div>