<div class="container-fluid d-flex flex-column h-100 bg-third no-scroll">
  <!-- main info -->
  <div class="d-flex flex-row justify-content-center pt-3 gap-5">
    <div class="d-flex flex-column align-items-center">
      <img
        src="../../../../assets/images/client-profile-main.png"
        alt=""
        class="client-profile-img"
      />
      <div class="text-uppercase fh-5 fw-bold mt-2">Salif Saif</div>
      <div class="ft-3 text-secondary">26 Years</div>
      <div class="ft-3 text-secondary d-flex flex-row">
        <div class="locationPinIcon"></div>
        &nbsp;&nbsp;Islamabad, Pakistan
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex flex-row gap-3">
        <div
          class="bg-fifth mat-elevation-z25 rounded-2 pt-2 pb-2 text-center"
          style="width: 180px; height: 68px"
        >
          <div class="d-flex flex-row gap-2 justify-content-center">
            <span class="occupationIcon"></span> OCCUPATION
          </div>
          <div class="fh-6 mt-1">Engineer</div>
        </div>
        <div
          class="bg-fifth mat-elevation-z25 rounded-2 pt-2 pb-2 text-center"
          style="width: 180px; height: 68px"
        >
          <div class="d-flex flex-row gap-2 justify-content-center">
            <span class="profile-statusIcon"></span> STATUS
          </div>
          <div class="fh-6 mt-1">UnMarried</div>
        </div>
      </div>
      <button mat-button class="btnPrimary mat-elevation-z1 mt-3 w-100">
        Edit Profile
      </button>
    </div>
  </div>
  <!-- about info-->
  <div></div>

  <!-- details -->
  <div></div>
</div>
