<div
  class="container-fluid d-flex flex-column h-100 bg-5th scroll-verticle style-1"
>
  <!-- main info -->
  <div class="d-flex flex-row justify-content-center pt-3 gap-5">
    <div class="d-flex flex-column align-items-center">
      <img
        src="../../../../assets/images/client-profile-main.png"
        alt=""
        class="client-profile-img"
      />
      <div class="text-uppercase txt-8th fh-5 fw-bold mt-2">Salif Saif</div>
      <div class="ft-3 txt-7th">26 Years</div>
      <div class="ft-3 txt-7th d-flex flex-row">
        <div class="locationPinIcon"></div>
        &nbsp;&nbsp;Islamabad, Pakistan
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex flex-row gap-3">
        <div
          class="bg-4th mat-elevation-z25 rounded-2 pt-2 pb-2 text-center"
          style="width: 180px; height: 68px"
        >
          <div class="d-flex flex-row gap-2 justify-content-center txt-7th">
            <span class="occupationIcon txt-7th"></span> OCCUPATION
          </div>
          <div class="fh-6 mt-1 txt-8th">Engineer</div>
        </div>
        <div
          class="bg-4th mat-elevation-z25 rounded-2 pt-2 pb-2 text-center"
          style="width: 180px; height: 68px"
        >
          <div class="d-flex flex-row gap-2 justify-content-center txt-7th">
            <span class="profile-statusIcon txt-7th"></span> STATUS
          </div>
          <div class="fh-6 mt-1 txt-8th">UnMarried</div>
        </div>
      </div>
      <button mat-button class="btnPrimary mat-elevation-z1 mt-3 w-100">
        Edit Profile
      </button>
    </div>
  </div>
  <!-- about info-->
  <div class="row px-5 mt-3">
    <div
      class="col-md-12 rounded-4 bg-white px-3 py-3 mat-elevation-z2 txt-8th"
    >
      <div class="fh-6 pb-2 d-flex flex-row gap-2 txt-8th">
        <span class="personIcon"></span>
        About Me
      </div>
      <p class="txt-7th ft-4 justify-text mt-2">
        British Pakistani Sunni Muslim, age 29 , 5ft4, West York's. Language:
        English and Urdu. Educated at (BGGS). BA in Criminology and Criminal
        Justice (Hons) and a Master's in Counter-Terrorism. Completed around two
        years of an Alimah course at Girls College, Burnley. Currently working
        in a school. Observes hijab and modest dress. Tries to read 5 daily
        salah, Alhamdulillah. Celebrates khatam and Milaad. Cheerful, friendly
        and family-oriented with a balanced understanding of deen and dunya.
        Enjoys spending time with family and friends. Willing to meet initially
        in the presence of a mehram. Seeking a practicing Muslim (preferably
        Pakistani), aged 27+, with good character,
      </p>
      <p class="txt-7th ft-4">
        respectful, caring and family-oriented. Looking for someone responsible,
        independent and understanding of marital duties. Preferably degree
        educated and non-smoker. British nationals preferred; professionals in
        medical, engineering, teaching or other fields, including those on UK
        skilled work visas, may be considered.
      </p>
    </div>
  </div>

  <!-- details -->
  <div>detail row</div>
</div>
