.cursor-pointer {
  cursor: pointer;
}

.user-dropdown-wrapper {
  position: relative;

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    min-width: 200px;
    z-index: 9999;
    margin-top: 8px;
  }
}