<div class="fh-5 fw-bold mt-3">Education & Career</div>

<div class="row mt-4">
  <div class="col-md-3">
    <div class="form-group">
      <label class="txt-7th ft-5">
        Education Level<span class="txt-2nd">&nbsp;*</span>
      </label>
      <select
        class="form-control form-control-sm mt-2"
        [(ngModel)]="selectedEducation">
        <option value="">Select Education Level</option>
        <option *ngFor="let item of educationList" [value]="item.subTypeID">
          {{ item.subTypeTitle }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-9">
    <div class="form-group">
      <label class="txt-7th ft-5">
        Institution Name<span class="txt-2nd">&nbsp;*</span>
      </label>
      <input
        type="text"
        class="form-control form-control-sm mt-2"
        placeholder="Enter your institution name"
      />
    </div>
  </div>
</div>

<!-- 2nd row -->
<div class="row mt-4">
  <div class="col-md-3">
    <div class="form-group">
      <label class="txt-7th ft-5">
        Occupation<span class="txt-2nd">&nbsp;*</span>
      </label>
      <select
        class="form-control form-control-sm mt-2"
        [(ngModel)]="selectedOccupation">
        <option value="">Select Occupation</option>
        <option *ngFor="let item of occupationList" [value]="item.subTypeID">
          {{ item.subTypeTitle }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label class="txt-7th ft-5">
        Monthly Income<span class="txt-2nd">&nbsp;*</span>
      </label>
      <select
        class="form-control form-control-sm mt-2"
        [(ngModel)]="selectedMonthlyIncome">
        <option value="">Select Monthly Income</option>
        <option *ngFor="let item of monthlyIncomeList" [value]="item.subTypeID">
          {{ item.subTypeTitle }}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label class="txt-7th ft-5">
        Employer Name<span class="txt-2nd">&nbsp;*</span>
      </label>
      <input
        type="text"
        class="form-control form-control-sm mt-2"
        placeholder="Enter your employer name"
      />
    </div>
  </div>
</div>