<div class="fh-5 fw-bold mt-3">Education & Career</div>

<div class="row mt-4">
  <div class="col-md-3">
    <div class="form-group">
      <label for="gender" class="txt-7th ft-5"
        >Education Level<span class="txt-2nd">&nbsp;*</span></label
      >
      <select class="form-control form-control-sm mt-2" id="gender">
        <option>Bacholars</option>
        <option>Masters</option>
      </select>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      <label for="exampleInputEmail1" class="txt-7th ft-5"
        >Institution Name<span class="txt-2nd">&nbsp;*</span></label
      >
      <input
        type="text"
        class="form-control form-control-sm mt-2"
        aria-describedby="institutionName"
        placeholder="Enter your full name"
      />
    </div>
  </div>
  <!-- 2nd row -->
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="form-group">
        <label for="gender" class="txt-7th ft-5"
          >Occupation<span class="txt-2nd">&nbsp;*</span></label
        >
        <select class="form-control form-control-sm mt-2" id="gender">
          <option>Doctor</option>
          <option>Engineer</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="gender" class="txt-7th ft-5"
          >Monthly Income<span class="txt-2nd">&nbsp;*</span></label
        >
        <select class="form-control form-control-sm mt-2" id="gender">
          <option>Rs. 50,000 to 100,000</option>
          <option>Rs. 100,000 to 200,000</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1" class="txt-7th ft-5"
          >Employer Name<span class="txt-2nd">&nbsp;*</span></label
        >
        <input
          type="text"
          class="form-control form-control-sm mt-2"
          aria-describedby="institutionName"
          placeholder="Enter your full name"
        />
      </div>
    </div>
  </div>
</div>
