.websiteLogo{
  background: url("../assets/images/websiteLogo.svg");
  background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  width: 276.53515625px;
  height: 43px;
  // top: 16px;
  // left: 50px;
  opacity: 1;
  //  border-radius: 8px;
}
.SideNavLogo {
  background: url("../assets/images/websiteLogo.svg");
  background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  width: 277px;
 height: 43px;
  // top: 16px;
  // left: 50px;
  opacity: 1;
  //  border-radius: 8px;
}

.bg {
  background: url("../assets/images/bgflower.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // width: 1445px;
  // height: 728px;
}

.bgWorks {
  background: url("../assets/images/howWorksbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // width: 1445px;
  // height: 728px;
}

.bgLogin {
  background: url("../assets/images/loginBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // width: 1445px;
  // height: 728px;
}

.bgtestimonail {
  background: url("../assets/images/bgtestimonail.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // width: 1445px;
  // height: 728px;
}

.bgvideo {
  background: url("../assets/images/bgvideo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // width: 1445px;
  // height: 728px;
}
.matching-profile-bg {
  background: url("../assets/images/findYourMatch.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  width: auto;
  height: auto;
}
.aboutus {
  background: url("../assets/images/aboutus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // width: 1445px;
  // height: 728px;
}

.discoverIcon {
  background: url("../assets/icons/discover.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 40px;
  height: 40px;
}
.profileIcon {
  background: url("../assets/icons/profile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 40px;
  height: 40px;
}
.searchPresenceIcon {
  background: url("../assets/icons/searchPreferences.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 40px;
  height: 40px;
}
.securelyConnectIcon {
  background: url("../assets/icons/securely.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 40px;
  height: 40px;
}
.locationPinIcon {
  background: url("../assets/icons/locationPin.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}
.occupationIcon {
  background: url("../assets/icons/occupation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}
.profile-statusIcon {
  background: url("../assets/icons/profile-status.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}
.personIcon {
  background: url("../assets/icons/person.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}

.ageIcon {
  background: url("../assets/icons/birthday-cakeicon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}

.heightIcon {
  background: url("../assets/icons/height_rulericon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}

.uploadIcon {
  background: url("../assets/icons/upload.svg");
}

.quoteIcon {
  background: url("../assets/icons/quote.svg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  width: 17px;
  height: 17px;
}

.facebookIcon {
  background: url("../assets/icons/facebook-logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}

.tiktokIcon {
  background: url("../assets/icons/tiktok-logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}

.instaIcon {
  background: url("../assets/icons/instagram-logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}

.snapchatIcon {
  background: url("../assets/icons/snapchat-logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;

  width: 40px;
  height: 40px;
}

////////////////////////////ADmin side menus Icons//////////////

.dashboard {
  background: url("../assets/icons/dashboaard.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}
.requestManagement {
  background: url("../assets/icons/requestManagement.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}
.appointments {
  background: url("../assets/icons/appointments.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}
.bestMatch {
  background: url("../assets/icons/bestMatch.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}
.userManagement {
  background: url("../assets/icons/userManagement.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}
.eventsGallery{
  background: url("../assets/icons/eventGallery.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}

.accounts{
  background: url("../assets/icons/accounts.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}
.servicesRequests {
  background: url("../assets/icons/serviceRequest.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}

.matchComparison {
  background: url("../assets/icons/matchComparison.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}


.pofilePic {
  background: url("../assets/images/profile\ 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}


.testimonials{

   background: url("../assets/icons/testimonial.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}


.lockProfile{

   background: url("../assets/icons/lockProfile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}



.PricingPlanConfig{

   background: url("../assets/icons/PricingPlanConfig.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}

.actions {
  background: url("../assets/icons/actions.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 8px;
  height: 8px;
  display: inline-block;
}

.check {
  background: url("../assets/icons/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 8px;
  height: 8px;
  display: inline-block;
}

.uncheck {
  background: url("../assets/icons/uncheck.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 8px;
  height: 8px;
  display: inline-block;
}


.adminProfile{

   background: url("../assets/icons/person.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}

.adminPrefernces{

   background: url("../assets/icons/userManagement.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 17px;
  height: 17px;
}