<div class="fh-5 fw-bold mt-3">Personal preference</div>

<div class="row mt-4">
  <div class="col-md-3">
    <div class="form-group">
      <label for="minAge" class="txt-7th ft-5">Preferred Min Age<span class="txt-2nd">&nbsp;*</span></label>
      <input type="number" class="form-control form-control-sm mt-2" id="minAge" placeholder="Enter preferred min age">
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="form-group">
      <label for="maxAge" class="txt-7th ft-5">Preferred Max Age<span class="txt-2nd">&nbsp;*</span></label>
      <input type="number" class="form-control form-control-sm mt-2" id="maxAge" placeholder="Enter preferred max age">
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="form-group">
      <label for="city" class="txt-7th ft-5">Preferred City<span class="txt-2nd">&nbsp;*</span></label>
      <select class="form-control form-control-sm mt-2" id="city">
        <option value="" disabled selected>Select City</option>
      </select>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <label for="country" class="txt-7th ft-5">Preferred Country<span class="txt-2nd">&nbsp;*</span></label>
      <select class="form-control form-control-sm mt-2" id="country">
        <option value="" disabled selected>Select Country</option>
      </select>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4">
    <div class="form-group">
      <label for="nationality" class="txt-7th ft-5">Preferred Nationality<span class="txt-2nd">&nbsp;*</span></label>
      <select class="form-control form-control-sm mt-2" id="nationality">
        <option value="" disabled selected>Select a nationality</option>
      </select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="caste" class="txt-7th ft-5">Preferred Caste</label>
      <select class="form-control form-control-sm mt-2" id="caste">
        <option value="" disabled selected>Select a caste</option>
      </select>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="ethnicity" class="txt-7th ft-5">Preferred Ethnicity</label>
      <select class="form-control form-control-sm mt-2" id="ethnicity">
        <option value="" disabled selected>Select an ethnicity</option>
      </select>
    </div>
  </div>
</div>