<section class="py-5 bg-white">
  <div class="container-fluid px-0">
    <!-- Header -->
    <div class="text-center mb-4 pb-2">
      <h2 class="fw-bold mb-2 custom-font" style="color: black !important;">Event Gallery</h2>
      <div class="ft-9"  style="color: #45556C ; font-weight: 400px !important;">
        Memorable clicks that makes your Life Perfect.
      </div>
    </div>

    <!-- Gallery Strip -->
    <div class="gallery-strip">
      <div
        *ngFor="let img of images; let i = index"
        class="gallery-item"
        [class.active]="activeIndex === i"
        (mouseenter)="setActive(i)"
      >
        <img [src]="img.src" [alt]="img.alt" />
      </div>
    </div>
  </div>
</section>
