<div class="">
  <!-- personal info -->
  <div class="fh-5 fw-bold mt-3">Personal Information</div>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="form-group">
        <label class="txt-7th ft-5">
          Full Name (Cannot be changed once approved)
          <span class="txt-2nd">&nbsp;*</span>
        </label>
        <input
          type="text"
          class="form-control form-control-sm mt-2 bg-light"
          placeholder="Enter your full name"
        />
      </div>
    </div>

    <!-- GENDER from API typeID=22 -->
    <div class="col-md-2">
      <div class="form-group">
        <label class="txt-7th ft-5">
          Gender<span class="txt-2nd">&nbsp;*</span>
        </label>
        <select
          class="form-control form-control-sm mt-2 bg-light"
          [(ngModel)]="selectedGender"
          (change)="onFieldChange()"
        >
          <option value="">Select Gender</option>
          <option *ngFor="let item of genderList" [value]="item.subTypeID">
            {{ item.subTypeTitle }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label class="txt-7th ft-5">
          Date of Birth (Cannot be changed once approved)
          <span class="txt-2nd">&nbsp;*</span>
        </label>
        <input type="date" class="form-control form-control-sm mt-2" />
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label class="txt-7th ft-5">
          Phone Number<span class="txt-2nd">&nbsp;*</span>
        </label>
        <div class="d-flex flex-row gap-2">
          <div class="w-25">
            <select
              class="form-control form-control-sm mt-2 bg-light"
              [(ngModel)]="selectedCountryCode"
              (change)="onFieldChange()"
            >
              <option value="">Code</option>
              <option
                *ngFor="let item of countryList"
                [value]="item.country_code"
              >
                {{ item.country_code }}
              </option>
            </select>
          </div>

          <div class="w-50">
            <input
              type="text"
              class="form-control form-control-sm mt-2"
              placeholder="Enter your phone number"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-2">
      <div class="form-group">
        <label class="txt-7th ft-5">
          Country<span class="txt-2nd">&nbsp;*</span>
        </label>
        <select
          class="form-control form-control-sm mt-2"
          [(ngModel)]="selectedCountry"
          (change)="onCountryChange()"
        >
          <option value="">Select Country</option>
          <option *ngFor="let item of countryList" [value]="item.country_id">
            {{ item.country_name }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label class="txt-7th ft-5">
          City<span class="txt-2nd">&nbsp;*</span>
        </label>
        <select
          class="form-control form-control-sm mt-2"
          [(ngModel)]="selectedCity"
          (change)="onFieldChange()"
        >
          <option value="">Select City</option>
          <option *ngFor="let item of cityList" [value]="item.city_id">
            {{ item.city_name }}
          </option>
        </select>
      </div>
    </div>

    <!-- NATIONALITY from API typeID=2 -->
    <div class="col-md-2">
      <div class="form-group">
        <label class="txt-7th ft-5">
          Nationality<span class="txt-2nd">&nbsp;*</span>
        </label>
        <select
          class="form-control form-control-sm mt-2"
          [(ngModel)]="selectedNationality"
          (change)="onFieldChange()"
        >
          <option value="">Select Nationality</option>
          <option *ngFor="let item of nationalityList" [value]="item.subTypeID">
            {{ item.subTypeTitle }}
          </option>
        </select>
      </div>
    </div>

    <!-- CAST from API typeID=1 -->
    <div class="col-md-3">
      <div class="form-group">
        <label class="txt-7th ft-5">
          Cast<span class="txt-2nd">&nbsp;*</span>
        </label>
        <select
          class="form-control form-control-sm mt-2"
          [(ngModel)]="selectedCast"
          (change)="onFieldChange()"
        >
          <option value="">Select Cast</option>
          <option *ngFor="let item of castList" [value]="item.subTypeID">
            {{ item.subTypeTitle }}
          </option>
        </select>
      </div>
    </div>

    <!-- ETHNICITY from API typeID=3 -->
    <div class="col-md-3">
      <div class="form-group">
        <label class="txt-7th ft-5">
          Ethnicity<span class="txt-2nd">&nbsp;*</span>
        </label>
        <select
          class="form-control form-control-sm mt-2"
          [(ngModel)]="selectedEthnicity"
          (change)="onFieldChange()"
        >
          <option value="">Select Ethnicity</option>
          <option *ngFor="let item of ethnicityList" [value]="item.subTypeID">
            {{ item.subTypeTitle }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- rest of your HTML stays exactly the same -->
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="form-group">
        <label for="gender" class="txt-7th ft-5">
          About Me<span class="txt-2nd">&nbsp;*</span>
        </label>
        <textarea
          class="form-control form-control-sm"
          id="message"
          rows="4"
          placeholder="Enter your message"
        >
        </textarea>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-3 px-2 d-flex flex-column">
      <div class="txt-7th ft-5">
        Profile Picture <span class="txt-2nd">&nbsp;*</span>
      </div>
      <div
        class="bg-6th border-6th rounded-3 mat-elevation-z2 d-flex flex-column align-items-center ft-5 py-3"
      >
        <div
          class="bg-6th rounded-circle p-2 mat-elevation-z1 d-flex flex-row justify-content-center align-items-center"
        >
          <div class="uploadIcon"></div>
        </div>
        <div class="fh-6 mt-2">Drag and drop or click to browse</div>
        <div class="ft-6 mt-2 txt-7th">No file chosen</div>
      </div>
    </div>
    <div class="col-md-3 px-2 d-flex flex-column">
      <div class="txt-7th ft-5">
        Your CNIC (Front & Back) <span class="txt-2nd">&nbsp;*</span>
      </div>
      <div
        class="bg-6th border-6th rounded-3 mat-elevation-z2 d-flex flex-column align-items-center ft-5 py-3"
      >
        <div
          class="bg-6th rounded-circle p-2 mat-elevation-z1 d-flex flex-row justify-content-center align-items-center"
        >
          <div class="uploadIcon"></div>
        </div>
        <div class="fh-6 mt-2">Drag and drop or click to browse</div>
        <div class="ft-6 mt-2 txt-7th">No file chosen</div>
      </div>
    </div>
    <div class="col-md-3 d-flex flex-column">
      <div class="ft-5">
        <span class="txt-2nd">&nbsp;</span>
      </div>
      <div class="bg-6th border-6th rounded-3 d-flex flex-column py-1">
        <div class="txt-2nd ft-5 fw-bold">NOTE:</div>
        <div class="ft-5 mt-1">
          Your CNIC/ID Card/Passport Picture<span class="txt-2nd">&nbsp;*</span>
        </div>
        <div class="ft-5 mt-1 txt-7th">
          This is required for verification purposes. It will only be visible to
          our admins and will be deleted after verification.
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex flex-column">
      <div class="ft-5">
        <span class="txt-2nd">&nbsp;</span>
      </div>
      <div class="d-flex flex-row mt-1">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <div class="bg-6th border-6th rounded-3 d-flex flex-column ps-2">
          <div class="ft-4 fw-bold">
            Hide my Photos from users I haven't matched with
          </div>
          <div class="ft-5 mt-1 txt-7th">
            When enabled, your photos --- including your profile picture ---will
            remain hidden from other users until a match is made. This helps
            protect your privacy and prevents unwanted attention.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- profile pictures uploading -->
  <div
    class="d-flex flex-row ps-3 py-3 pe-5 bg-6th rounded-3 mat-elevation-z1 justify-content-between"
  >
    <div class="d-flex flex-row">
      <div class="d-flex flex-row">
        <img
          src="../../../../assets/images/client-profile-main.png"
          alt=""
          class="client-profile-img bg-5th"
        />
        <div class="m-35-minus mt-3">
          <div class="bg-danger ft-5 txt-6th rounded-circle px-2">x</div>
        </div>
      </div>
      <div class="m-10-minus d-flex flex-row">
        <img
          src="../../../../assets/images/client-profile-main.png"
          alt=""
          class="client-profile-img bg-5th"
        />
        <div class="m-35-minus mt-3">
          <div class="bg-danger ft-5 txt-6th rounded-circle px-2">x</div>
        </div>
      </div>
      <div class="m-10-minus d-flex flex-row">
        <img
          src="../../../../assets/images/client-profile-main.png"
          alt=""
          class="client-profile-img bg-5th"
        />
        <div class="m-35-minus mt-3">
          <div class="bg-danger ft-5 txt-6th rounded-circle px-2">x</div>
        </div>
      </div>
    </div>
    <div class="btn-6th d-flex flex-row align-items-center mat-elevation-z1">
      <div class="rounded-circle bg-2nd px-2 text-center txt-6th me-2 ft-4">
        +
      </div>
      <div>Add Pictures</div>
    </div>
  </div>
</div>
