<section class="py-4 matching-profile-bg">
  <!-- Heading -->
  <div class="text-center mb-0">
    <h2 class=" text-center custom-font" style="color: black !important;">Find Your Match</h2>
    <p class="text-secondary small mb-2 ft-2">
      Use our advanced filters to find profiles that match your preferences.
    </p>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 justify-content-center">
      <div class="bg-white border rounded-5 shadow-sm p-3 p-lg-">
        <div class="row g-2 align-items-end">
          <!-- Gender -->
          <div class="col-12 col-md-6 col-lg">
            <label class="form-label fw-semibold small text-dark">
              Gender
            </label>

            <!-- <ng-select
          [items]="genderOptions"
          bindLabel="label"
          bindValue="value"
          [(ngModel)]="filters.gender"
          [searchable]="false"
          [clearable]="true"
          placeholder="Any">
        </ng-select> -->
            <ng-select
              [items]="genderOptions"
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="filters.gender"
              [placeholder]="!filters.gender ? 'Select Gender' : ''"
            >
            </ng-select>
          </div>

          <!-- Country -->
          <div class="col-12 col-md-6 col-lg">
            <label class="form-label fw-semibold small text-dark">
              Country
            </label>

            <ng-select
              [items]="countryOptions"
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="filters.country"
              [placeholder]="!filters.country ? 'Select Country' : ''"
            >
            </ng-select>
          </div>

          <!-- Qualification -->
          <div class="col-12 col-md-6 col-lg">
            <label class="form-label fw-semibold small text-dark">
              Qualification
            </label>

            <ng-select
              [items]="qualificationOptions"
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="filters.qualification"
              [placeholder]="
                !filters.qualification ? 'Select Qualification' : ''
              "
            >
            </ng-select>
          </div>

          <!-- Profession -->
          <div class="col-12 col-md-6 col-lg">
            <label class="form-label fw-semibold small text-dark">
              Profession
            </label>
<ng-select
  [items]="professionOptions"
  bindLabel="label"
  bindValue="value"
  [(ngModel)]="filters.profession"
  [placeholder]="!filters.profession ? 'Select Profession' : ''">
</ng-select>
          </div>

          <!-- Search Button -->
          <!-- <div class="col-12 col-lg-auto">
        <button
          class="btn text-white w-100 px-4 py-2 rounded-4 shadow-sm"
          style="background:#8B1E1E;"
          (click)="onSearch()">

          <i class="bi bi-search"></i>
        </button>
      </div> -->
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <!-- Filter Card -->

  <app-matching-profile></app-matching-profile>
</section>
