<div class="fh-5 fw-bold mt-3">Family & Lifestyle</div>

<!-- row - 01 -->
<div class="row mt-4">
  <div class="col-md-2">
    <div class="form-group">
      <label for="gender" class="txt-7th ft-5"
        >Marital Status<span class="txt-2nd">&nbsp;*</span></label
      >
      <select class="form-control form-control-sm mt-2" id="gender">
        <option>un-Married</option>
        <option>Married</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="gender" class="txt-7th ft-5"
        >Housing Situation<span class="txt-2nd">&nbsp;*</span></label
      >
      <select class="form-control form-control-sm mt-2" id="gender">
        <option>Own House</option>
        <option>Rented House</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="gender" class="txt-7th ft-5"
        >Father's Occupation<span class="txt-2nd">&nbsp;*</span></label
      >
      <select class="form-control form-control-sm mt-2" id="gender">
        <option>Government Servant</option>
        <option>Doctor</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="gender" class="txt-7th ft-5"
        >Mother's Occupation<span class="txt-2nd">&nbsp;*</span></label
      >
      <select class="form-control form-control-sm mt-2" id="gender">
        <option>Housewife</option>
        <option>Teacher</option>
      </select>
    </div>
  </div>
</div>

<!-- row - 02 -->
<div class="row mt-4">
  <div class="col-md-2">
    <div class="row">
      <label for="gender" class="txt-7th ft-5"
        >Parent Phone Number<span class="txt-2nd">&nbsp;*</span></label
      >
      <div class="col-md-4">
        <div class="form-group">
          <select class="form-control form-control-sm mt-2" id="gender">
            <option>+92</option>
            <option>+91</option>
            <option>+51</option>
          </select>
        </div>
      </div>
      <div class="col-md-8">
        <input
          type="text"
          class="form-control form-control-sm mt-2"
          aria-describedby="fullName"
          placeholder="Enter your full name"
        />
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label for="gender" class="txt-7th ft-5"
        >No. of Siblings<span class="txt-2nd">&nbsp;*</span></label
      >
      <select class="form-control form-control-sm mt-2" id="gender">
        <option>01</option>
        <option>02</option>
        <option>03</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="gender" class="txt-7th ft-5"
        >Family Involvement Presence<span class="txt-2nd">&nbsp;*</span></label
      >
      <select class="form-control form-control-sm mt-2" id="gender">
        <option>Strong Involvement</option>
        <option>Independent</option>
      </select>
    </div>
  </div>
</div>
