/////////////////////////////////////global styles////////////////////////
@use "ngx-toastr/toastr";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./styles/common.scss";
@import "./styles/icon.scss";
@import "./styles/animate.min.css";

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
// Boostrap Icons//
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

///////////////////////////////global font family////////////////////////

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Plus Jakarta Sans";
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  font-family: "Plus Jakarta Sans";
}

////////////////////////global colors variables////////////////////////
:root {
  --primary: #590117; //maroon
  --2nd: #c84b31; // brown // secondary
  --3rd: #f59e0b; // orange // third

  --4th: #f1ceb2; //light-peach //bg-primary
  --5th: #ebebeb; //seconday-color // bg-secondary
  --6th: white; // white // bg-third
  --spinner-color: #3f51b5; //nspinner-color
  --7th: #808080; // text-primary
  --8th: #2c2c2c; //navy // text-secondary
}

////////////////////////////variables classes////////////////////////
//bg-maroon
.bg-primary {
  background-color: var(--primary) !important;
}

//bg-brown
.bg-2nd {
  background-color: var(--2nd) !important;
}

//bg-white
.bg-3rd {
  background-color: var(--3rd) !important;
}

.bg-4th {
  background-color: var(--4th);
}

.bg-5th {
  background-color: var(--5th) !important;
}

.bg-6th {
  background-color: var(--6th) !important;
}

.bg-7th {
  background-color: var(--7th) !important;
}

.bg-8th {
  background-color: var(--8th) !important;
}

//text-navy
.txt-primary {
  color: var(--primary) !important;
}

//text-maroon
.txt-2nd {
  color: var(--2nd);
}

//text-color
.txt-3rd {
  background-color: var(--3rd);
}

//text-white
.txt-4th {
  color: var(--4th);
}

//text-fifth
.txt-5th {
  color: var(--5th);
}

.txt-6th {
  color: var(--6th);
}

.txt-7th {
  color: var(--7th);
}

.txt-8th {
  color: var(--8th);
}

.justify-text {
  text-align: justify !important;
}

//////////////////////////////////////fonts////////////////////////////
.custom-font {
  font-family: "Marcellus" !important ;
  font-size: 36px !important;
  color: var(--primary) !important;
  font-weight: 400 !important;
  letter-spacing: 0% !important;
}

