<div class=" d-flex  flex-column h-100  style-1">
  <div class="flex-grow-1 scroll-verticle style-1">
    <app-hero-section></app-hero-section>
    <!-- <app-find-your-match></app-find-your-match> -->
    <app-about id="about-section"></app-about>
    <app-how-its-works id="how-it-works-section"></app-how-its-works>
    <!-- <app-sucess-stories id="success-stories-section"></app-sucess-stories> -->
    <app-premium-services id="features-section"></app-premium-services>
    <app-testimonials-images id="success-stories-section"></app-testimonials-images>
    <app-testimonials-videos></app-testimonials-videos>
    <app-event-gallery></app-event-gallery>
    <app-footer></app-footer>
  </div>
</div>
 