<div class=" d-flex  flex-column h-100  style-1">
  <div class="flex-grow-1 scroll-verticle style-1">
    <app-hero-section></app-hero-section>
    <!-- <app-find-your-match></app-find-your-match> -->
    <app-about></app-about>
    <app-how-its-works></app-how-its-works>
    <app-sucess-stories></app-sucess-stories>
    <app-premium-services></app-premium-services>
    <app-testimonials-images></app-testimonials-images>
    <app-testimonials-videos></app-testimonials-videos>
    <app-event-gallery></app-event-gallery>
    <app-footer></app-footer>
  </div>
</div>
